<a href="https://colab.research.google.com/github/paulinak2107/Python-Real-_Estete_Project/blob/main/realestate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import tensorflow as tf
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [5]:
realestate = pd.read_csv("housing.csv")
realestate.head()
realestate.info()   
realestate["ocean_proximity"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [6]:
realestate.isna().sum()
re = realestate.dropna()
re.describe()

          longitude      latitude  ...  median_income  median_house_value
count  20433.000000  20433.000000  ...   20433.000000        20433.000000
mean    -119.570689     35.633221  ...       3.871162       206864.413155
std        2.003578      2.136348  ...       1.899291       115435.667099
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.800000     33.930000  ...       2.563700       119500.000000
50%     -118.490000     34.260000  ...       3.536500       179700.000000
75%     -118.010000     37.720000  ...       4.744000       264700.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [ ]:
re['ocean_proximity'] = re['ocean_proximity'].astype('category').cat.codes

#Pearson=re.corr()
#Pearson

In [8]:


Y = re.median_house_value
X = re.drop(['median_house_value'], axis=1)
#X.shape
#Y.shape


X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=3)
#X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

In [9]:

LinR = LinearRegression()
LinR.fit(X_train, Y_train)
LinR.score(X_test, Y_test)

0.6569124407176418

In [10]:
svr = SVR()
svr.fit(X_train, Y_train)
svr.score(X_test, Y_test)

-0.05789133361462784

In [11]:
RFR = RandomForestRegressor()
RFR.fit(X_train, Y_train)
RFR.score(X_test, Y_test)

0.8354372378305963